<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credit.mapper.CardInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.credit.pojo.CardInfo">
        <id column="card_no" property="cardNo" />
        <result column="prc_id" property="prcId" />
        <result column="freeze_balance" property="freezeBalance" />
        <result column="opening_date" property="openingDate" />
        <result column="balance" property="balance" />
        <result column="card_type" property="cardType" />
        <result column="pin_num" property="pinNum" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        card_no, prc_id, freeze_balance, opening_date, balance, card_type, pin_num
    </sql>

</mapper>
