<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.storage.mapper.CardInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.storage.pojo.CardInfo">
        <id column="card_no" property="cardNo" />
        <result column="prc_id" property="prcId" />
        <result column="opening_date" property="openingDate" />
        <result column="balance" property="balance" />
        <result column="card_type" property="cardType" />
        <result column="pin_num" property="pinNum" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        card_no, prc_id, opening_date, balance, card_type, pin_num
    </sql>

    <select id="count_card_no_by_prcId" resultType="Integer" parameterType="Map">
        select count(*) from card_info where prc_id = #{prcId} and card_type = #{card_type}
    </select>

    <select id="getCardByPrcId" resultType="String" parameterType="String">
        select card_no from card_info where prc_id = #{param1}
    </select>

</mapper>
