<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.storage.mapper.DebitPlanMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.base.pojo.DebitPlan">
        <id column="plan_id" property="planId" />
        <result column="plan_title" property="planTitle" />
        <result column="plan_desc" property="planDesc" />
        <result column="freeze_amount" property="freezeAmount" />
        <result column="interest_rate" property="interestRate" />
        <result column="duration_month" property="durationMonth" />
        <result column="start_date" property="startDate" />
        <result column="expire_date" property="expireDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        plan_id, plan_title, plan_desc, freeze_amount, interest_rate, duration_month, start_date, expire_date
    </sql>

    <select id="getAllEffectiveDebitPlan" resultMap="BaseResultMap">
        SELECT * FROM bank_application.debit_plan WHERE expire_date > NOW();
    </select>

</mapper>
